// Pismo
// -----

$base-font-size: 16px;
$base-line-height: 22px;
$smaller-font-size: 12px;
$smaller-line-height: 17px;
$larger-font-size: 20px;
$larger-line-height: 28px;

// Barvy
// -----

// Odkazy v textu
$color-alpha: #0eb10e;
// Pozadí navigace a paticky
$color-beta: #024e40;
// Proužek pod navigací
$color-gamma: #9bd04e;
// Proužek nad navigací
$color-delta: #e0e9e8;

$anchor-color: #0eb10e;
$active-color: darken($anchor-color, 20%);
$text-color: #000;

// Sedive barvy
$color-grey-1: #444;
$color-grey-2: #555;
$color-grey-3: #666;
$color-grey-4: #888;
$color-grey-5: #eee;
$color-grey-6: #ddd;
$color-grey-7: #eee;

// Svetla barva pro pozadi prvku
// Smichana hlavni barva se svetle sedivou.
// (Otestovano jako viditelne i na mem Samsung monitoru)
$color-light: mix(lighten($color-alpha, 60%), #f0f0f0, 30%);
$color-light-plus: mix(lighten($color-alpha, 60%), #ccc, 30%);

// Tmave barvy
$color-dark: mix(darken($color-alpha, 10%), #999, 25%);
$color-dark-plus: mix(darken($color-alpha, 20%), #666, 30%);

// Layout
// ------

$gutter: 14px;
$column-width: 304px;

// Breakpointy
// -----------

// Hodnoty
$large-start-value: 768px;
$extra-large-start-value: 1180px;

// Odvozene hodnoty
$small-end-value: ($large-start-value - 1);

// Media Queries
// (Pouzivame napr. jako @media #{$small-end-value} { … }
$small-end: "only screen and (max-width: #{$small-end-value})";
$large-start: "only screen and (min-width: #{$large-start-value})";
$extra-large-start: "only screen and (min-width: #{$extra-large-start-value})";

// Padding
// -------

$padding-y: 5px;
$padding-x: 8px;

$padding-sm-y: 3px;
$padding-sm-x: 5px;

$padding-lg-y: 9px;
$padding-lg-x: 12px;
