/*
  Inline list
  ===========
*/

// - seznam polozek v bublinach - napr. staty na Rywalu/Rekrei

// Zatim jen zkopirovane z old_layout.less

.inline_list {
  line-height: 36px;
}

.inline_list .item {
  padding: 9px 8px 8px;
  background-color: transparent;
  border: 1px solid #ccc;
  white-space: nowrap;
  border-radius: 5px;
}

.inline_list .item:hover,
.inline_list .item:focus,
.inline_list .item:active {
  background-color: #eee;
  text-decoration: underline;
}

.inline_list .item.two_stars,
.inline_list .item.three_stars {
  font-weight: bold;
}
