/*
Kontejner layoutu
=================
*/

.container {
  width: 1000px;
  max-width: 100%;
  background: #fff url(../../images/layout/sidebox-bg.gif) repeat-y right top;
  margin: 0 auto;
  margin-bottom: 15px;
  position: relative;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}
