/* === Sesterske weby v zahlavi === */

#sisterWebsites
{
  background-color:#efefef;
  font-family:Verdana, sans-serif;
  font-size:9px;
  line-height:16px;
  height:22px;
  margin:0;

  // Na malych displejich a v tisku nezobrazujeme
  @media #{$small-end}, print {
    display: none;
  }

  @media #{$large-start} {
    height: 44px;
  }

  @media #{$extra-large-start} {
    height: 22px;
  }
}

.container #sisterWebsites a, #sisterWebsites strong {
  display:block;
  width: 20%;
  float:left;
  text-align:center;
  padding:3px 0;
  color:#ccc;

  @media #{$extra-large-start} {
    width: 10%;
  }

  @media #{$extra-large-start} {
    width: 100px; /* = sirka .container (1000px) / pocet polozek (10)  */
  }
}

.container #sisterWebsites a:hover,
.container #sisterWebsites a:focus
{
  text-decoration:none;
  background-color:#e8e8e8;
  color:#bbb;
}

#sisterWebsites strong
{
  background:#fff;
  color:#bbb;
  font-weight:normal;
}
