/* # Modul Site Logo

*/

.site-logo {
  margin: 0;
	width: auto;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
  color: $color-gamma;
  padding: $base-line-height 0;

  @media #{$large-start} {
    padding: 3*$base-line-height 0;
  }
}
