/* # Modul Site Nav

Hlavní navigace webu.

Na velkých displejích vedle sebe, na malých většina schovaná do ikonek.

*/

.site-nav {
  background: $color-beta;
  border-bottom: $color-gamma 10px solid;
  border-top: $color-delta 10px solid;

  @media #{$large-start} {
    padding-left: 15px;
    padding-right: 15px;
  }

  @media print {
    display: none;
  }
}

.site-nav ul {
  margin: 0;
  padding: 0;
}

.site-nav li {
  list-style-type: none;
}

.site-nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2 * $base-line-height;
  color: #fff;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}

// Layout

@media #{$large-start} {
  .site-nav ul {
    display: flex;
  }

  .site-nav li {
    flex: 1;
  }

  .site-nav a {
    height: 3 * $base-line-height;
  }
}
