/* # Modul Site Nav

Hlavní navigace webu.

Na velkých displejích vedle sebe, na malých většina schovaná do ikonek.

## Tři části navigace

* `.site-nav__accom-search-link` – odkaz na vyhledávač ubytování
* `.site-nav__main` – hlavní navigace, zobrazuje se jen na velkých displejích (řízeno Pine.JS)
* `.site-nav__small-screen` – zobrazuje se jen na malých displejích

## Příklad

```
<div role="navigation" class="site-nav">
  <ul class="site-nav__accom-search-link">
    <li><strong><a class="item" href="/">Najít ubytování</a></strong></li>
  </ul>
  <div id="navigace" class="site-nav__main pine pine-horizontal">
    <ul class="pine-level-1">
      <li><a class="item" href="/">Oblasti</a>
        <ul class="pine-level-2">
          <li><a class="item" href="/oblast/belianske-tatry/">Belianské Tatry</a></li>
          <li><a class="item" href="/oblast/belianske-tatry/">Bratislava</a></li>
          <li><a class="item" href="/oblast/belianske-tatry/">Jižní Slovensko</a></li>
          <li><a class="item" href="/oblast/belianske-tatry/">Liptov</a></li>
          <li><a class="item" href="/oblast/belianske-tatry/">Malá a Velká Fatra, Kysuca</a></li>
        </ul>
      </li>
      <li><a class="item" href="/last-minute/">Last Minute</a></li>
      <li><a class="item" href="/novinky/">Novinky</a></li>
      <li><a class="item" href="/o/">O nás</a></li>
      <li><a class="item" href="/kontakt/">Kontakt</a></li>
    </ul>
   </div>
   <ul class="site-nav__small-screen">
     <li><a href="#vyhledavani" class="site-nav__small-screen-search">Vyhledávání</a></li>
     <li><a data-pine="toggle" class="site-nav__small-screen-nav" href="#navigace">Menu</a></li>
   </ul>
</div>
```

*/

/* ## Využívá Pine.JS responzivní navigaci */

// TODO
// - docasne presunuto sem, protoze v prohlizeci nemuzeme kompilovat cestou sem
//   viz https://github.com/less/less-docs/issues/214
// - s timto v prohlizeci kompiluju 10s, bez toho 3s :-( --> vzit jen jako CSS?
@import "../lib/pine/pine.less";

@p-base-font-size				  				: $base-font-size;
@p-color                          : white;
@p-background                     : $color-beta;
@p-active-background              : $color-gamma;
@p-hover-background               : $color-gamma;
@p-small-screen-top               : 146px;
@p-large-display-start						: $large-start-value;

// Fix spatneho vyhlazovani caretu na FF
.pine-has-subnav > a:before {
  border-style: inset;
}

// ## Obecné stylování + malé displeje

// TODO
// - .container mess

.site-nav {
	clear: both;
	background: $color-beta;
  border-bottom: $color-gamma 10px solid;
	border-top: $color-delta 10px solid;

	@media $large-start {
		padding-left: 15px;
		padding-right: 15px;
    height: 41px;
	}

  @media print {
    display: none;
  }
}

.site-nav__main .pine-level-1 {
  margin: 0;
  padding: 0;

    @media $large-start {
      display: flex;
    }
}

.site-nav__main .pine-level-1 > li {
  text-align: center;
  @media $large-start {
    flex: 1;
  }
}

.site-nav li {
	list-style-type: none;
}

//  Layout: Všechny tři subnavigace  jsou na malých displejích vedle sebe

.site-nav__accom-search-link,
.site-nav__main,
.site-nav__small-screen {
  display: block;

  @media $large-start {
    width: 100%;
  }
}

.site-nav__accom-search-link {
  margin: 0;
  padding: 0;

  @media $large-start {
    display: none;
  }
}

.site-nav__accom-search-link-desktop {
  display: none;

  @media $large-start {
    display: block;
  }
}

// ## Odkazy pro malé displeje
// Na malých zobrazuje odkaz na vyhledávání a menu

.site-nav__small-screen {
  padding: 0;
  margin: 0;
  display: none;

  @media $small-end {
    display: block;
    width: 130px;
    margin-right: -2px; // Hack kvuli pozici na iOS7
    float: right;
  }
}

.site-nav__small-screen {
  li {
    display: inline-block;
  }

  a.active {
    background-color: $color-gamma;
  }
}

// ## Navigace webu
// Na malých displejích schovaná (Pine.js), na velkých zobrazená

// Položka navigace obecně
.container .site-nav a {
  box-sizing:border-box;
  display: block;
  padding: 12px 12px 11px;
  color: #fff;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;

  // Aktivní položka
  &:hover,
  &:focus,
  &:active,
  &.active {
    color: white;
    text-decoration: none;
    background-color: $color-gamma;
  }
}

// Stylování od 2. úrovně dál
.container .pine-level-2 a {
  padding: $base-font-size*.75 15px ($base-font-size*.75 + 1px);
}


// ## Velké displeje

@media $large-start {

	// Položky navigací jsou na velkých vedle sebe
	.pine-level-1 > li {
		display: inline-block;
		position: relative;
		float: left;
	}

  // Položka navigace se subnavigací
  // Zobáček jinak než výchozí v Pine.js
  .container .pine-level-1 > .pine-has-subnav > a {
    padding-right: 25px;

    &:before {
      top: 19px;
      right: 50%;
      margin-right: -27px;
      border-top-color: rgba(255, 255, 255, .5)
    }
  }

}
