/*

Helpery
=======

*/


// Clearfix
// --------
// For clearing floats like a boss h5bp.com/q
.clearfix {
  *zoom: 1;
  &:before, &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

.container .margin_bottom {
  margin-bottom: 18px;
}

.container .margin_bottom_half {
  margin-bottom: 9px;
}

.container .margin_bottom_double {
  margin-bottom: 36px;
}

.without_margin_bottom {
  margin-bottom: 0;
}

.margin_top_negative {
  margin-top: -18px;
}

.container .margin_top {
  margin-top: 18px;
}

.container .margin_top_double {
  margin-top: 36px;
}

.margin_top_half {
  margin-top: 9px;
}

.desktop_only {
  display: none !important;

  @media $large-start {
    display: block !important;
  }
}


.dumb_only {
  display: none !important;
}

.center, .text-center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.clear_both {
  clear: both;
}

.block_center {
  margin-left: auto !important;
  margin-right: auto !important;
  float: none !important;
}

.suppress {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}

.float_right {
  float: right;
}

.float_left {
  float: left;
}

.last {
  @media $large-start {
    margin-right: 0 !important;
  }
}

// Textovy blok trochu vice odsazeny (napr. anotace ve vypoctu tabulku)
.tabbed_text {
  padding-left: 15px;
  padding-right: 45px;
}

// TODO
.small {
  font-size: 11px;
  line-height: 13px;
  color: #999;

  a {
    color: #999;
    text-decoration: underline;

    &:hover, &:focus, &:active {
      color: #666;
    }
  }
}

// Schovavani obsahu, ktery ma zustat viditelny cteckam a vyhledavacum
// See: http://a11yproject.com/posts/how-to-hide-content/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


// Z old_layout.less
// -----------------

// TODO co potrebujeme?

.floatLeft50 {
  float: left;
  width: 48%;
}

.floatRight50 {
  float: right;
  width: 48%;
}

.clearBothZero, .clear_zero {
  display: block;
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 1px;
}


.marginBottom3 {
  margin-bottom: 3em;
}

.marginBottom1half {
  margin-bottom: 1.5em;
}

.marginRight15 {
  margin-right: 15px;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.displayNone {
  display: none;
}

.marginTopNo {
  margin-top: 0;
}

.sideOne .marginTopNo {
  margin-top: -1.5em;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

.alignCenter {
  text-align: center;
}

.alignMiddle {
  vertical-align: middle;
}

.required {
  font-size: 1.2em;
  font-weight: bold;
  color: #f60;
}

p.submit {
  text-align: right;
}

.big {
  font-size: 1.5em;
  font-weight: bold;
  vertical-align: middle;
}

.fontSmall {
  font-size: .5em;
  font-weight: normal;
}

small.fontSmall {
  font-size: .6em;
  font-weight: normal;
}

table.fontSmall td, table.fontSmall th {
  font-size: 1.4em;
  font-weight: normal;
}

.clearBoth {
  clear: both;
}

.container .alignRight {
  text-align: right;
}

.container .alignLeft {
  text-align: left;
}

.container .alignCenter {
  text-align: center;
}

.testRed {
  border: 1px solid red;
}

.displayInline {
  display: inline;
}

.displayNone {
  display: none;
}

.hide {
  display: none;
}


// Nove helpery (verze 2012)
// Presunout do noveho layoutu (if newlayout TODO)

.width100 {
  width: 100%;
}

.width50 {
  width: 50%;
}

.display_block {
  display: block;
}


// Presunuto z new_layout.less
// ---------------------------

// Cosi jako komponenty, jen moc male
// TODO refaktor - je spise znamenim, ze maji byt soucasti nadrazeni komponenty

// Odkaz "Vice..."

.more_link {
  margin: 2em 0;
  text-align: center;
}

// Velky nahled ubytovatele
// (v detailu LM/FM - s nazvem, anotaci, fotkami a vybavenim)

.accommodation_big_item {
  margin-bottom: 36px;
}

// Unveil.js lazyloading

.unveil {
  opacity: 0;
  transition: opacity .5s ease-in;
}

// Odkaz na vice informaci

.more_info {
  color: #666;
}

// Legenda - popisek k necemu, asi hlavne hvezdy

.legend {
  color: #999;
  text-align: right;
}

// Podobne polozky - treba souvisejici ubytovatele

.similar_items {
  margin-top: 54px;
}

// Velka mapa oblasti nebo okoli

#map_container {
  margin: -35px -8px 27px -30px;
  width: auto;
  height: 562px; // 1000x562px
}

#mapa_okoli {
  margin-top: 8px;
}

#subdivisions {
  max-width: 940px;
  margin-bottom: 36px;
}

// Seznam obci v oblasti nebo seznam oblasti ve statu

#subdivisions h3 {
  margin-bottom: 9px;
  border-bottom: 1px solid #ccc;
}

// Odkaz na fotogalerii z Flickru

.more_photos a {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-left: 0;
  padding-left: 0;
  padding: 5px 7px;
  display: block;
}

.more_photos a:hover, .more_photos a:focus, .more_photos a:active {
  background-color: #eee;
  cursor: pointer;
}

// Ohraniceni form prvku
input.input--border {
  border: 1px solid #000;
}

textarea.textarea--border {
  border: 1px solid #000;
}
