/*

Reset
=====

*/

body {
  margin:0;
  padding:0;
}

a img, img {
  border: 0;
}


form {
  margin: 0;
  padding: 0;
}

img {
  -ms-interpolation-mode: bicubic; // Lepsi vykreslovani obrazku v IE8+
  max-width: 100%;
  height: auto;
}
